.genesflexbox{
	width: 100%;
	display: flex;
	
	justify-content: center;

}
.geneinput{
	display: block;
	
	margin-right: 10px;
}

.heading{
	font-family: "Courier New", Courier, monospace;
font-size: 32px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

html {}
body {
    height: 95vh;
}